{% extends 'base.html' %}

{% block title %}
    管理系统|添加出版社
{% endblock title %}

{% block main %}
    <h1 class="page-header">出版社管理页面</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">添加出版社</div>
        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'add_publisher' %}" method="post">
                <div class="form-group">
                    <label for="publisher_name" class="col-sm-2 control-label">出版社名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="publisher_name" name="publisher_name"
                               placeholder="出版社名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>
                        <p style="color: red">{{ error_msg }}</p>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock main %}

{% block publisher_list %}
    active
{% endblock publisher_list %}